*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-color: #fc5d66;
    --secondary-color: #ffc05a;
    --light-color: #f9fafb;
    --dark-color: #272d35; 
}



html,
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}

a {
text-decoration: none;
}

ul {
    list-style : none;
}

img {
    max-width: 100%;
}


.container {
    max-width: 1200px;
    margin : 0 auto;
    padding: 0 2rem;
}

.container-sm {
    max-width: 1000px;
    margin : 0 auto;
    padding: 0 2rem;
}


/* navar */

.navbar {
    background-color: var(--dark-color);
    padding: 1rem 0;
    
    color: white;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}

.navbar-flex  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar img {
    width: 81px;
    height: 32px;
}


.navbar .main-menu-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: var(--secondary-color);
}


/* Mobile menu */

.mobile-menu {
    display:none;
}
.navbar .mobile-menu-toggle{
    color: white;
    cursor: pointer;
}

.navbar .mobile-menu-items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.95;
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease;
}


.navbar .mobile-menu-items.active {
    transform: translate(0);
}


.navbar .mobile-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 1.2rem;
  
}
 /* Media queries */

 @media screen and (max-width: 1200px) { }
 @media screen and (max-width: 992px) { }
 @media screen and (max-width: 768px) {

    .main-menu-items {
         display: none;
 
    }
    .navbar .mobile-menu {
        display: block;
    }
    .navbar .mobile-menu-toggle {
        display: block;
        padding: 10px;
    }
  }
 @media screen and (max-width: 576px) { }